[user]
  name = Teodor Draganov
  email = draganov93@gmail.com
[core]
  editor = vim
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[alias]
  a  = add
  aa = add --all
  br = branch
  cl = clone
  co = checkout
  cp = cherry-pick
  df = diff
  dt = difftool
  dfno = diff --name-only
  netlog = log -n 15 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  st = status
  status = status -uno
  uncommit = reset HEAD^
  stash-untracked = "!f() {    \
        git stash;               \
        git stash -u;            \
        git stash pop stash@{1}; \
  }; f"
  uncommit = reset HEAD^
[diff]
  tool = vimdiff
[difftool "vimdiff"]
  trustExitCode = true
[merge]
  tool = bc3
[mergetool "bc3"]
  trustExitCode = true
[difftool]
  prompt = false
[format]
  pretty = oneline
[log]
  decorate = auto
[includeIf "gitdir:**/tdragano/**"]
  path = ~/.gitconfig-work
[push]
  default = simple
